---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <form
    name="contact-us"
    method="POST"
    data-netlify="true"
    onsubmit="submit"
    data-netlify-honeypot="bot-field"
    action="/success"
  >
    <input type="hidden" name="bot-field" />
    <input type="hidden" name="form-name" value="contact-us" />
    <ContactUs
      title="Drop us a message today!"
      subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking for right there! If not, our support team is delighted to help you."
      inputs={[
        {
          type: 'text',
          name: 'name',
          label: 'Name',
        },
        {
          type: 'email',
          name: 'email',
          label: 'Email',
        },
      ]}
      textarea={{
        label: 'Message',
      }}
      disclaimer={{
        label:
          'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
      }}
      description="Our support team typically responds within 24 business hours."
    />
  </form>

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `Chat with us for inquiries related to our packages, payment issues or general questions about the prototype's functionality.`,
      },
      {
        title: 'Contact sales',
        description:
          'Chat with us for questions about package options, incresing or decreasing resource, inquiries about specific project issues, etc.',
      },
      {
        title: 'Ongoing support',
        description:
          'Chat with us for Private Beta options, continued support or if you cannot get out of the traditional procurement resourcing options',
      },
      {
        title: 'Phone',
        description: '0800 669 6250',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'support@understairs.ltd',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Horwich, Bolton, BL6 7AF, United Kingdom',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
