---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Tailwind CSS Styled Form for Netlify ******************* -->
  <div
    class="flex flex-col backdrop-blur bg-white border dark:bg-slate-900 rounded-lg border-gray-200 dark:border-gray-700 lg:p-8 max-w-xl mx-auto p-4 shadow sm:p-6 w-full"
  >
    <form name="contactUs" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" action="/success">
      <input type="hidden" name="form-name" value="contactUs" />
      <div class="mb-6">
        <label class="block font-medium text-sm" for="name">Name</label>
        <input
          class="block bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 px-4 py-3 rounded-lg text-md w-full"
          id="name"
          name="name"
          type="text"
          autocomplete="on"
          placeholder=""
        />
      </div>
      <div class="mb-6">
        <label class="block font-medium text-sm" for="email">Email</label>
        <input
          class="block bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 px-4 py-3 rounded-lg text-md w-full"
          id="email"
          name="email"
          type="email"
          autocomplete="on"
          placeholder=""
        />
      </div>
      <div>
        <label class="block font-medium text-sm" for="message">Message</label>
        <textarea
          class="block bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 px-4 py-3 rounded-lg text-md w-full"
          id="message"
          name="message"
          rows="4"></textarea>
      </div>
      <div class="flex items-start mt-3">
        <div class="flex mt-0.5">
          <input
            class="block bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 px-4 py-3 rounded-lg text-md w-full cursor-pointer mt-1"
            id="disclaimer"
            name="disclaimer"
            type="checkbox"
          />
        </div>
        <div class="ml-3">
          <label class="dark:text-gray-400 text-sm text-gray-600 cursor-pointer select-none" for="disclaimer"
            >By submitting this contact form, you acknowledge and agree to the collection of your personal information.</label
          >
        </div>
      </div>
      <div class="grid mt-10">
        <button class="btn-primary" type="submit">Contact us</button>
      </div>
      <div class="text-center mt-3">
        <p class="dark:text-gray-400 text-sm text-gray-600">
          Our support team typically responds within 24 business hours.
        </p>
      </div>
    </form>
  </div>

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General support',
        description: `Chat with us for inquiries related to our packages, payment issues or general questions about the prototype's functionality.`,
      },
      {
        title: 'Contact sales',
        description:
          'Chat with us for questions about package options, increasing or decreasing resource, inquiries about specific project issues, etc.',
      },
      {
        title: 'Ongoing support',
        description:
          'Chat with us for Private Beta options, continued support or if you cannot get out of the traditional procurement resourcing options',
      },
      {
        title: 'Phone',
        description: '0800 669 6250',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'support@understairs.ltd',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Horwich, Bolton, BL6 7AF, United Kingdom',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
