---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Design Prototypes',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Work with us',
        href: '/contact',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image-2.png', alt: 'Question one image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> UK Government </span> Prototypes <span
        class="hidden sm:inline">designed</span
      >
      with the GDS Design System
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Design Prototypes</span> is a Prototype as a Service. A subscription model for individual
        contributors or fully fledged teams.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Prototypes: Production-ready.</span>
      Suitable for Government departments and local councils, rapid prototyping in a novel and different approach.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="How we do it"
    title="What you get with "
    subtitle="One of the novel approaches to designing GDS type prototypes currently on the market. Most comprehensive and easy to intergrate solution for your needs."
    items={[
      {
        title: 'Novel Practices',
        description:
          'Creating rapid prototypes, highly functional with minimal friction and research that deliver exceptional and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Delivery Speed',
        description:
          'Having a great and higly funtional prototype increases speed from idea to usability testing and minimal iteration to production',
        icon: 'tabler:rocket',
      },
      {
        title: 'API integrations',
        description:
          'Real data from real sources, our prototypes mimic the real app down to the API intergrations, only for security reasons would we use synthetic data.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Living a culture that is open to new ideas and contributions is integral to fostering innovation, collaboration, aiding a fast delivery.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Behind the scenes"
    title="Design Prototypes' Blueprint: Speed Meets Functionality!"
    items={[
      {
        title: 'Built only for the GDS Front End',
        description:
          'Benefiting from the performance and developer-friendly features of this accesible Front End library.',
      },
      {
        title: 'Styled using govuk CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly accessibility focused CSS framework.',
      },
      {
        title: 'Design lead, Data driven',
        description:
          'Design first, research and user testing second. Get a highly functional prototype in front of users now.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Design on new foundations</h3>
      Avoid the friction of neverending research and design, get a highly functional prototype in front of users in a fraction
      of the time.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Scale fast, pause faster',
        description: `Based on your needs we can scale from a single designer to a full Alpha team. Pause anytime no questions asked.`,
      },
      {
        title: 'Multiple layout resources, no lock in',
        description:
          'Your needs, we provide the resources to allow you to take the prototype and run with it, we find the right people.',
      },
      {
        title: 'Fully responsive service',
        description:
          "Not the kind of 'responsive' you're thinking of. We are responsive to your needs, Start with a researcher add a designer, add a developer, add a full Alpha team.",
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Not just prototypes</h3>
      But a new way of thinking about rapid prototyping. Based on your needs we can scale from a single designer to a full
      Alpha team.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** 

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get from idea to usability testing in no time with our Subscription model."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Engage</span>',
        description:
          'Deside the package that suits your specific needs. Join a brief kick off call, we set you up with a chat channel and a KanBan board, and we are off to the races!',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Pour your vision into it. Add logic, text, and all that dynamic breath of life into your digital service. Remember, we want you to have a good start and decrease the time to Private Beta.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Test and Iterate</span>',
        description:
          'Get your prototype in front of users, get feedback, make changes, get it in front of users, get feedback, make changes, stop only when you are satisfied.',
        icon: 'tabler:users',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** 

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>
  -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display previous work done in several UK Government departments.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the details. How the subscription model is truly a discuprive method that will increase your velocity and decrease your time to Private Beta."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Design Prototypes?',
        description:
          'With years of combined experience, we have been there and done that. We have been in the trenches and we know what you need. We can be just a designer, we can be a researcher, we can be a developer, we can be a full Alpha team.',
      },
      {
        title: 'What do I need to start?',
        description:
          'A clear enough Discovery document. We will help you with the rest. From policy intend to a "Start Now" button, we can take your service from Discovery to Private Beta in a fraction of the time.',
      },
      {
        title: 'How do we differ from traditional agencies?',
        description:
          "Well, we simply cut of the middlemen, no Umbrella's no Agencies. Providing a 15% budget savings whilst we reduce the delivery time to a fraction of the GDS suggested scope for an Alpha.",
      },
      {
        title: "What if you don't like the results?",
        description:
          'This is a subscription service, we will continue to iterate until you are 100% satisfied. We will even help you with the GDS Service Standard Assessment.',
      },
    ]}
  />

  <!-- Stats Widget ******************

  <Stats
    stats={[
      { title: 'Combined Experience', amount: '89Y' },
      { title: 'GOVUK Departments', amount: '27' },
      { title: 'Public Users', amount: '13.5M' },
      { title: 'Internal Users', amount: '15K' },
    ]}
  />

       CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: '/contact',
      },
    ]}
  >
    <Fragment slot="title">
      Design&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Prototypes</span>
    </Fragment>

    <Fragment slot="subtitle">
      With our direct approach, you can save your Project from failure. <br class="hidden md:inline" />Don't waste more
      time! :P
    </Fragment>
  </CallToAction>
</Layout>
